* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.header-area {
  background-color: #ffffff;
  padding-right: 40px;
  flex-direction: column;
  width: 1440px;
  height: 100px;
}

.header-logo {
  background-color: aquamarine;
  padding-right: 50px;
  width: 185px;
  height: 41px;
  top: 29px;
  left: 54px;
  flex: 50px;
}
