/*
*Header Area start 
*/
* {
  box-sizing: border-box;
  /* border: solid black 1px; */
  padding: 0;
  margin: 0;
}
/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.hader-area {
  display: flex;
  flex-direction: column;
  width: 1000px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  box-shadow: 1p x 10px 5px rgba(0, 53, 228, 0.993);
}
nav {
  display: flex;
  gap: 80px;
}

ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
}
a {
  text-decoration: rgb(110, 3, 3);
  text-transform: uppercase;
  text-align: center;
  gap: 50%;
}
a:hover {
  color: rgb(8, 187, 82);
  transition-duration: 0.5s;
}
.menu {
  text-align: center;
  display: flex;
}

.search-contaner {
  padding: 0;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.search-contaner:hover {
  background-color: rgb(173, 173, 236);
  cursor: pointer;
}
/*
*Header Area End 
*/

/*
*hero area start-*
*/
.hero-area {
  width: 1440px;
  height: 974px;
  top: 99px;
  background-color: #f9f8f9;
}
.hero-content {
  width: 891px;
  background-color: blue;
  height: 100px;
}

.title {
  font-family: "Playfair Display", serif;
  padding-top: 149px;
  padding-left: 50px;
  font-size: 90px;
  height: 728px;
  width: 700;
  top: 249px;
  left: 55px;
  color: #094b72;
}
.subtitle {
  width: 578px;
  padding: 20px;
  height: 88px;
  top: 62px;
}
.subtitle p {
  font-family: "Plus Jakarta Sans", serif;
  color: #4e4e4eeb;
  font-size: 24px;
  line-height: 1.58;
  margin: 0;
  padding-left: 50px;
  line-height: 158%;
  letter-spacing: 0.5px;
}

.container {
  position: relative;
  height: 100px;

  padding-left: 55px;
}
.get-btn {
  color: white;
  background-color: #094b72;
  padding-left: px;
  padding-left: 40px;
  border-radius: 8px;
  width: 190px;
  height: 80px;
  position: absolute;
  top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.compalyTitle {
  /* border: solid black 1px; */
  padding-top: 100px;
  padding-left: 50px;
  font-family: "Plus Jakarta Sans", serif;
  letter-spacing: 4%;
  vertical-align: middle;
  width: 400;
  size: 22px;
  top: 249px;
  left: 55px;
  line-height: 140%;
}
.company-logo {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  /* background-color: brown; */
}
.company-logo-row {
  padding-left: 50px;
  padding-top: 20px;
  display: flex;
  gap: 40px;
}

.company-logo-colomn {
  padding-left: 50px;
  padding-top: 20px;
  display: flex;
  gap: 20px;
}
.background-img {
  height: 549px;
  width: 973px;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 49px;
  /* left: 800px; */
  right: 0;
  background-position: to center;
}
.service-box {
  display: flex;
  border: solid blueviolet 1px;
  width: 1440px;
  height: 786px;
  top: 1024px;
}

/* .service-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  width: 100%;
} */

.legalization-box-1 {
  padding: 100px;
  text-align: center;
  justify-content: center;
  background-color: coral;
  width: 700px;
  height: 302px;
  top: 174px;
  left: 167px;
  gap: 20px;
}
#legalization {
  font-family: "Playfair Display" sans-serif;
  width: auto;
  color: #2d2f30;
  /* background-color: blue; */
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.3px;
  white-space: normal;
}
#cricle-layer {
  width: 40px;
  height: 40px;
}
.company-service {
  display: flex;
  border: solid rgb(11, 11, 12) 1px;
}
.rowDraction-box {
  /* display: flex; */
  background-color: rgb(86, 94, 94);
}
.coloumnDriction-box {
  background-color: aquamarine;
  /* border: 1px solid black; */
}
.enviromentlLaw-box-2 {
  padding: 50px;
  border: 2px rgb(218, 214, 210);
  background-color: red;
  text-align: left;
}
.information-box-4 {
  padding: 10px 50px;
}
